@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f5f7fb;
  font-family: sans-serif;
}

.container {
  max-width: 75%;
  margin: auto;
  flex-grow: 1;
}
.container-85 {
  max-width: 85%;
  margin: auto;
}
.container-95 {
  max-width: 95%;
  margin: auto;
}
.flex {
  display: flex;
}

.navbar-box {
  width: 21%;
}
.main-box {
  position: relative;
}
body::-webkit-scrollbar {
  display: none;
}
.main-header-pages {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.main-header-pages h1 {
  font-weight: 500;
}
.main-header-pages button {
  background-color: #ee6c4d;
  padding: 7px 25px;
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
  margin: auto 0;
}

.itemBtn {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.itemBtn span {
  margin: 5px;
}
.itemBtn svg {
  display: inline-block;
  margin-right: 0.25rem;
}
.itemBtn .svg1 svg {
  width: 1.25rem;
  height: 1.25rem;
}

.itemBtn .editBtn svg {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.itemBtn .deleteBtn svg {
  width: 0.75rem;
  cursor: pointer;
  height: 0.75rem;
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 70%;
  }
  .main-header-pages h1 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 650px) {
  .main-box {
    position: unset;
  }
}

.navbar-component {
  width: 20%;
}
.navbar-component .deskop-nav {
  width: 20%;
  min-height: 100vh;
  background-color: #f1f5f1;
  position: fixed;
  transition: 0.5s;
  top: 0;
}
.navbar-component .deskop-nav .navbar-header {
  background-color: #f5cfc5;
  height: 350px;
  padding: 20px;
  position: relative;
}
.navbar-component .deskop-nav .navbar-header .box-1 {
  display: flex;
  justify-content: space-between;
}
.navbar-component .deskop-nav .navbar-header .box-1 img {
  margin: auto 0;
}
.navbar-component .deskop-nav .navbar-header .box-1 .image1 {
  width: 90px;
}
.navbar-component .deskop-nav .navbar-header .box-1 .image2 {
  width: 19px;
}
.navbar-component .deskop-nav .box-2 {
  text-align: center;
  margin-top: 35px;
}
.navbar-component .deskop-nav .box-2 .userImg {
  padding: 5px;
  border: 2px solid red;
  border-radius: 100px;
}
.navbar-component .deskop-nav .box-2 .starImg {
  width: 115px;
  margin-top: 20px;
}
.navbar-component .deskop-nav .box-2 h2 {
  font-size: 1.35rem;
  font-weight: 500;
}
.navbar-component .deskop-nav .box-2 h3 {
  font-size: 1rem;
}
.navbar-component .deskop-nav .navbar-main {
  min-height: 100%;
}
.navbar-component .deskop-nav .navbar-main ul {
  padding: 0;
  padding-top: 25px;
}
.navbar-component .deskop-nav .navbar-main ul li {
  padding: 10px 30px;
}
.navbar-component .deskop-nav.navbar-main ul li:hover {
  color: #ee6c4d;
}
.navbar-component .deskop-nav .navbar-main ul li a {
  display: flex;
  color: black;
  text-decoration: none;
}
.navbar-component .deskop-nav .navbar-main ul li a.active {
  color: #ee6c4d;
}
.navbar-component .deskop-nav .navbar-main ul li a:hover {
  color: #ee6c4d;
}
.navbar-component .deskop-nav .navbar-main ul li a img {
  width: 22px;
  height: 20px;
}

.navbar-component .deskop-nav .navbar-main ul li a p {
  margin-left: 15px;
}

.response-nav-open {
  position: absolute;
  width: 45px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  display: none;
  top: -4px;
}
.response-nav-open img {
  width: 100%;
}

.response-nav-close {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  right: -25px;
  background-color: #ee6c4d;
  cursor: pointer;
}

.response-nav-close img {
  width: 100%;
}
.navbar-component .mobile-nav {
  display: none;
  width: 100%;
  height: 70px;
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  justify-content: center;
}

.navbar-component .mobile-nav ul {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.navbar-component .mobile-nav ul li {
  position: relative;
  list-style-type: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navbar-component .mobile-nav ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navbar-component .mobile-nav ul li a .icon {
  position: relative;
  /* display: block; */
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  line-height: 75px;
}
.navbar-component .mobile-nav ul li a .icon img {
  width: 25px;
  height: 25px;
}

.navbar-component .mobile-nav ul li a.active .icon {
  /* transform: translateY(-32px); */
}

.navbar-component .mobile-nav ul li a .text {
  position: absolute;
  color: black;
  font-weight: 400;
  font-display: 0.75rem;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
}

.navbar-component .mobile-nav ul li a.active .text {
  opacity: 1;
  transform: translateY(50px);
  font-size: 0.75rem;
}

.navbar-component .mobile-nav ul li a.active {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #ff7b54;
  border-radius: 50%;
  border: 6px solid #f5f7fb;
  transform: translateY(-32px);
  transition: 0.3s;
}

.navbar-component .mobile-nav ul li a.active::before {
  content: " ";
  position: absolute;
  top: 53%;
  left: -38%;
  width: 21px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 #f5f7fb;
  color: transparent;
}

.navbar-component .mobile-nav ul li a.active::after {
  content: " ";
  position: absolute;
  top: 53%;
  right: -38%;
  width: 21px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 #f5f7fb;
  color: transparent;
}

@media screen and (max-width: 800px) {
  .navbar-box {
    width: 25%;
  }
  .navbar-component .deskop-nav {
    width: 25%;
  }
}

@media screen and (max-width: 650px) {
  .navbar-component .deskop-nav .navbar-header {
    height: 100%;
  }
  .navbar-component .deskop-nav .box-2 .userImg {
    width: 80%;
  }
  .navbar-component .deskop-nav .box-2 .starImg {
    width: 70%;
  }
  .navbar-component .deskop-nav .box-2 h2 {
    font-size: 1rem;
  }
  .navbar-component .deskop-nav .box-2 h3 {
    font-size: 0.75rem;
  }
  .navbar-component .deskop-nav .navbar-main ul li {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 600px) {
  .navbar-component {
    width: 0%;
  }
  .flex {
    display: block;
  }
  .navbar-component .deskop-nav {
    transform: translateX(-300px);
  }
  .container {
    max-width: 90%;
    margin: 20px auto;
  }

  .navbar-component.active {
    width: 100%;
  }
  .navbar-component.active .deskop-nav {
    transform: translateX(0px);
    top: 0;
    z-index: 999999;
    width: 50%;
  }
  .response-nav-close,
  .response-nav-open {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .navbar-component.active .deskop-nav {
    display: none;
  }
  .response-nav-close,
  .response-nav-open {
    display: none;
  }

  .navbar-component .mobile-nav {
    display: flex;
    z-index: 999999;
  }
  /* hhhh */
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.w-screen {
  position: fixed;
  background-color: black;
  opacity: 0.25;
  width: 100%;
  height: 100%;
  top: 0;
  left: 20%;
  z-index: 999;
}

.modalWindows {
  z-index: 999;
  position: fixed;
  top: 1.625rem;
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 40px;
  width: 650px;
  left: 0;
  right: 0;
  margin: auto;
}
.modalWindows .modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalWindows .modal-title .closeModal {
  cursor: pointer;
}
.modalWindows .modal-title h1 {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 2.25rem;
}
.modalWindows .modal-content {
  margin: 20px 0;
}
.modalWindows .w-full {
  width: 100%;
}

.modalWindows .modal-content .flex {
  display: flex;
  justify-content: space-between;
}

.modalWindows .modal-content .modal-input {
  margin: 10px 5px;
  /* width: 100%; */
}
.modalWindows .modal-content .modal-input label {
  display: block;
  font-size: 13px;
  font-weight: 500;
}

.modalWindows .modal-content .modal-input input {
  border-radius: 50px;
  border: 1px solid #b7b7b7;
  outline: 2px solid transparent;
  padding: 5px;
  font-size: 12px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: 5px 0;
}
.modalWindows .modal-content .modal-input input[type="file"] {
  background-color: transparent;
  border: none;
  padding: 0;
  display: none;
}
.modalWindows .modal-content .modal-input .upload_photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  border: 1px solid #b7b7b7;
  outline: 2px solid transparent;
  padding: 5px;
  font-size: 12px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: 5px 0;
}
.modalWindows .modal-content .modal-input .upload_photo label {
  padding: 5px 35px;
  cursor: pointer;
  /* width: 50%; */
  border: 1px solid #b7b7b7;
  border-radius: 50px;
  font-size: 12px;
  line-height: 1.5rem;
}
.modalWindows .modal-content .modal-input .upload_photo button {
  padding: 5px 35px;
  border-radius: 50px;
  font-size: 12px;
  line-height: 1.5rem;
  outline: none;
  cursor: pointer;
  background-color: #ff7b54;
  border: none;
  color: white;
}
.modalWindows .modal-content .modal-input select {
  border-radius: 50px;
  border: 1px solid #b7b7b7;
  outline: 2px solid transparent;
  padding: 5px;
  font-size: 12px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 1.75rem;
  margin: 5px 0;
  width: 100%;
}
.modalWindows .modal-content .modal-input textarea {
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 0.75rem;
  border: 1px solid #b7b7b7;
  border-radius: 10px;
}
.modalWindows .modal-content .btn-group {
  display: flex;
  justify-content: space-between;
}
.modalWindows .modal-content .btn-group button {
  padding: 5px 75px;
  border-radius: 50px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  outline: none;
  border: 1px solid #c2d1d4;
  background-color: transparent;
  cursor: pointer;
}
.modalWindows .modal-content .btn-group .btn-2 {
  background-color: #ff7b54;
  border: none;
  color: white;
}
.modalWindows .modal-content .btn-group-lg {
  justify-content: center;
}
.modalWindows .modal-content .btn-group-lg .deleteBtn {
  background-color: #f25656;
  color: #fff;
  margin: 10px;
  text-align: center;
}

.delete-modal {
  position: fixed;
  top: 250px;
}
@media screen and (max-width: 825px) {
  .w-screen {
    left: 0;
  }
  .modalWindows {
    width: 80%;
  }
  .modalWindows .modal-content .btn-group button {
    padding: 5px 45px;
  }
  .modalWindows .modal-content .flex {
    display: block;
  }
  .modalWindows .modal-content .flex .modal-input,
  .modalWindows .modal-content .modal-input {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .modalWindows .modal-content .btn-group button {
    width: 45%;
    padding: 5px;
    font-size: 1rem;
  }
}

.login-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  flex-direction: row;
  height: 100vh;
}
.login-page .login-sec {
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 0 30px 30px 0;
  height: 100%;
}
.login-page .login-sec nav .nav-box {
  display: flex;
  justify-content: space-between;
  max-width: 440px;
  margin: auto;
  padding: 20px 0;
}
.login-page .login-sec nav .nav-box h1 {
  font-size: 30px;
}
.login-page .login-sec nav .nav-box ul {
  display: flex;
  margin: auto 0;
}
.login-page .login-sec nav .nav-box ul li {
  list-style-type: none;
}
.login-page .login-sec nav .nav-box ul li a {
  padding: 8px 15px;
  font-weight: 500;
  font-size: 18px;
  color: black;
}
.login-page .login-sec nav .nav-box ul li a span {
  color: #585858;
}
.login-page .login-sec main {
  max-width: 400px;
  margin: 0 auto;
}
.login-page .login-sec main .login-box {
  margin: 200px 0;
}
.login-page .login-sec main .login-box h1 {
  font-size: 28px;
  margin: 20px 0;
}
.login-page .login-sec main .login-box .input-box {
  border: 2px solid #c2d1d4;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.login-page .login-sec main .login-box .input-box img {
  width: 20px;
}
.login-page .login-sec main .login-box .input-box span {
  color: #84a2a9;
}
.login-page .login-sec main .login-box .input-box input {
  border: none;
  outline: none;
  width: 87%;
  height: 20px;
  font-size: 13px;
  padding: 5px 7px;
  color: #84a2a9;
  background-color: transparent;
}
.login-page .login-sec main .login-box .input-box .eyeSlash {
  cursor: pointer;
  color: #c2d1d4;
}
.login-page .login-sec main .login-box .input-box .eyeSlash img {
  width: 25px;
}
.login-page .login-sec main .login-box .checkbox {
  display: flex;
  margin: 10px 0;
}
.login-page .login-sec main .login-box .checkbox input {
  width: 15px;
  height: 15px;
}
.login-page .login-sec main .login-box .checkbox p {
  padding-left: 10px;
  font-size: 13px;
  color: grey;
}
.login-page .login-sec main .login-box .checkbox p span {
  color: #45c78b;
}
.login-page .login-sec main .login-box .signBtn {
  width: 100%;
  margin-top: 30px;
  padding: 15px;
  background-color: #ff7b54;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.login-page .login-sec main .login-box h3 {
  text-align: center;
  color: #585858;
  font-weight: 300;
  margin-top: 20px;
}
.login-page .login-sec main .login-box h3 span {
  color: #31a46e;
  margin: 0 10px;
}
.login-page .img-box {
  width: 50%;
  height: 100%;
}
.login-page .img-box img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1025px) {
  .login-page .login-sec nav {
    max-width: 93%;
  }
  .login-page .login-sec main {
    max-width: 80%;
  }
}
@media screen and (max-width: 769px) {
  .login-page {
    display: block;
  }
  .login-page .login-sec {
    width: 100%;
    box-shadow: none;
  }
  .login-page .login-sec main {
    background-image: url(../images/login-page-img.png);
    max-width: 100%;
    background-size: cover;
    padding-top: 200px;
  }
  .login-page .login-sec main .login-box {
    margin: 0;
    background-color: white;
    padding: 40px;
    border-radius: 30px 30px 0 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  .login-page .img-box {
    display: none;
  }
}
/* .scheldulePage{
  min-height: 99vh;
}

.calendarComponent{
  min-height: 99vh;
} */
.calendarComponent .fc-media-screen {
  height: 95vh;
  margin-top: 30px;
}
.calendarComponent .fc-button {
  background-color: rgba(222, 12, 12, 0) !important;

  border: none !important;
  color: black !important;
}
.calendarComponent .fc .fc-col-header-cell-cushion {
  text-decoration: none;
  color: black;
}
.calendarComponent .fc-button:focus {
  background-color: #ee6c4d !important;
  border: none !important;
}

.calendarComponent .fc-toolbar .fc-toolbar-chunk:first-child button {
  background-color: #dad7d7 !important;
}
.calendarComponent .fc-toolbar .fc-toolbar-chunk:nth-child(3) button {
  border-radius: 10px;
  padding: 3px 15px;
  margin: 5px;
}

.calendarComponent .fc .fc-button-group button {
  border: none;
  outline: none !important;
}
.calendarComponent .fc .fc-button-group button:focus {
  outline: none !important;
}
.calendarComponent .fc-timegrid-slot .fc-timegrid-slot-lane {
  padding: 30px 20px;
}
.calendarComponent .fc .fc-timegrid-slot {
  height: 2rem;
}
.calendarComponent .fc .fc-timegrid-slot-minor {
  border-top-style: none;
}

.calendarComponent .fc .fc-col-header-cell-cushion {
  padding: 15px 10px;
  display: block;
  font-size: 20px;
}
.calendarComponent .fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5rem;
}
.calendarComponent .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin-bottom: 0;
}
.calendarComponent .fc-timegrid-slot-label {
  border: none;
  text-align: center;
}
.calendarComponent .fc .fc-scrollgrid {
  border-left-width: 0;
}
.calendarComponent .fc-direction-ltr .fc-timegrid-slot-label-frame {
  text-align: center;
  letter-spacing: 1px;
}

.calendarComponent .fc-v-event {
  padding: 10px;
  border-radius: 6px;
}

/* color item start bg_violet  */

.calendarComponent .bg_violet .fc-event-main-frame {
  color: #8b5cf6;
}
.calendarComponent .bg_violet {
  background-color: #8a5cf634;
  border: none;
  border-left: 5px solid #8b5cf6;
}
.calendarComponent .bg_violet .fc-daygrid-event-dot {
  border-color: #8b5cf6;
}

/* color item end  bg_violet*/

/* color item start bg_red  */

.calendarComponent .bg_red .fc-event-main-frame {
  color: #be123c;
}
.calendarComponent .bg_red {
  background-color: #f43f5d3c;
  border: none;
  border-left: 5px solid #f43f5e;
}
.calendarComponent .bg_red .fc-daygrid-event-dot {
  border-color: #f43f5e;
}

/* color item end  bg_red*/

/* color item start bg_yellow  */

.calendarComponent .bg_yellow .fc-event-main-frame {
  color: #b45309;
}
.calendarComponent .bg_yellow {
  background-color: #db900543;
  border: none;
  border-left: 5px solid #f59e01;
}
.calendarComponent .bg_yellow .fc-daygrid-event-dot {
  border-color: #f59e01;
}

/* color item end  bg_red*/

/* color item start bg_blue  */

.calendarComponent .bg_blue .fc-event-main-frame {
  color: #0369a1;
}
.calendarComponent .bg_blue {
  background-color: #0787c23d;
  border: none;
  border-left: 5px solid #0ea5e9;
}
.calendarComponent .bg_blue .fc-daygrid-event-dot {
  border-color: #0ea5e9;
}
/* color item end  bg_blue*/

/* color item start bg_green  */

.calendarComponent .bg_green .fc-event-main-frame {
  color: #047857;
  font-size: 14px;
  font-weight: 400;
}
.calendarComponent .bg_green {
  background-color: #10b9813a;
  border: none;
  border-left: 5px solid #10b981;
}

.calendarComponent .bg_green .fc-daygrid-event-dot {
  border-color: #10b981;
}
/* color item end  bg_green*/
.calendarComponent .fc-timegrid-event-harness > .fc-timegrid-event {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .calendarComponent .fc-toolbar .fc-toolbar-chunk button {
    background-color: #dad7d7 !important;
  }
}
@media screen and (max-width: 380px) {
  .scheldulePage {
    padding: 10px;
  }

  .calendarComponent .fc .fc-toolbar-title {
    font-size: 1rem;
  }
}

.classes-page .items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.classes-page .items .item {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 1.25rem;
  box-shadow: 5px 5px 13px 2px #00000040;
  border-radius: 1rem;
  width: 550px;
  margin: 5px auto;
}
.classes-page .items .item img {
  width: 64px;
  margin: auto 0;
}
.classes-page .items .item .item-box {
  margin-left: 1rem;
}
.classes-page .items .item .item-box h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}
.classes-page .items .item .item-box h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.classes-page .items .item .item-box .itemBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.classes-page .items .item .item-box .itemBtn span {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.classes-page .items .item .item-box .itemBtn span svg {
  display: inline-block;
  margin-right: 0.25rem;
}
.classes-page .items .item .item-box .itemBtn span .svg1 svg {
  width: 1.25rem;
  height: 1.25rem;
}
.classes-page .items .item .item-box .itemBtn span .svg2 svg {
  width: 1rem;
  height: 1rem;
}
.classes-page .items .item .item-box .itemBtn span .svg3 svg {
  width: 0.75rem;
  height: 0.75rem;
}
.classes-page .items .item-box-2 {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  width: 1rem;
  height: 2.75rem;
  right: 0px;
  position: absolute;
  background-color: red;
}

.classes-page .items .item .text-blue {
  color: #0369a1;
}
.classes-page .items .item .bg-blue {
  background-color: #0369a1;
}
.classes-page .items .item .text-yellow {
  color: #b45309;
}
.classes-page .items .item .bg-yellow {
  background-color: #b45309;
}
.classes-page .items .item .text-red {
  color: #be123c;
}
.classes-page .items .item .bg-red {
  background-color: #be123c;
}
.classes-page .items .item .text-violet {
  color: #8b5cf6;
}
.classes-page .items .item .bg-violet {
  background-color: #8b5cf6;
}
.classes-page .items .item .text-green {
  color: #047857;
}

.classes-page .items .item .bg-green {
  background-color: #047857;
}
@media screen and (max-width: 1500px) {
  .classes-page .items .item {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .classes-page .items {
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .classes-page .items .item {
    width: 90%;
  }
}
@media screen and (max-width: 1025px) {
  .classes-page .main-box {
    padding: 10px;
  }
  .classes-page .main-box .items {
    display: block;
  }
}

@media screen and (max-width: 615px) {
  .classes-page .items .item .item-box h3 {
    font-size: 1rem;
  }
  .classes-page .items .item .item-box h4 {
    font-size: 0.75rem;
  }
  .classes-page .items .item .item-box .itemBtn span {
    font-size: 0.75rem;
  }
  .classes-page .items .item .item-box .itemBtn span svg {
    display: inline-block;
    margin-right: 0.15rem;
  }
  .classes-page .items .item .item-box .itemBtn span .svg1 svg {
    width: 1rem;
    height: 1rem;
  }
  .classes-page .items .item .item-box .itemBtn span .svg2 svg {
    width: 0.75rem;
    height: 1rem;
  }
  .classes-page .items .item .item-box .itemBtn span .svg3 svg {
    width: 0.5rem;
    height: 0.5rem;
  }
}

@media screen and (max-width: 380px) {
  .classes-page .items .item .item-box .itemBtn span {
    padding: 1px;
    font-size: 0.5rem;
  }
  .classes-page .items .item .item-box h4 {
    font-size: 0.6rem;
  }
  .classes-page .items .item .item-box h3 {
    font-size: 0.75rem;
  }
}

/*  */

.teacherPage .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 10px;
}
.teacherPage .items .item {
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 1.5rem;
  margin: 5px;
  box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.14);
}
.teacherPage .items .item img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
.teacherPage .items .item h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #706b6b;
  font-weight: 600;
}
.teacherPage .items .item h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.teacherPage .items .item p {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  color: #706b6b;
}
.teacherPage .items .item p svg {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}
.teacherPage .items .item h5 {
  font-weight: 400;
}

.teacherPage .items .item .item-inner .box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacherPage .items .item .item-inner .box h5 {
  margin: 5px;
}
.teacherPage .items .item .item-inner .box h6 {
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .teacherPage .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .teacherPage .items {
    grid-template-columns: repeat(1, 1fr);
  }
  .teacherPage .items .item {
    width: 90%;
    margin: auto;
  }
}

.studentsPage .main {
  width: 99%;
  margin: auto;
}
.studentsPage .main .items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.studentsPage .main .items .item {
  padding: 1.25rem;
  width: 95%;
  border-radius: 10px;
  background-color: #fff;
  margin: 10px 0;
}
.studentsPage .main .items .item .title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 1rem;
}
.studentsPage .main .items .item .title img {
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
}
.studentsPage .main .items .item .title .text-box {
  margin-left: 20px;
}
.studentsPage .main .items .item .title .text-box h3 {
  color: #333;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
}
.studentsPage .main .items .item .title .text-box p {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}
.studentsPage .main .items .item .item-content p {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 400;
}
.studentsPage .main .items .item .item-content .itemBtn {
  display: flex;
  justify-content: flex-end;
}
.studentsPage .main .items .item .item-content .itemBtn div {
  padding: 5px;
}
.studentsPage .main .items .item .item-content .itemBtn .btn1 {
  display: flex;
  align-items: center;
}
.studentsPage .main .items .item .item-content .itemBtn .btn1 svg {
  width: 1rem;
  margin-right: 5px;
}
.studentsPage .main .items .item .item-content .itemBtn .btn2 {
  display: flex;
  align-items: center;
}
.studentsPage .main .items .item .item-content .itemBtn .btn2 svg {
  width: 0.75rem;
  margin-right: 5px;
}

@media screen and (max-width: 800px) {
  .studentsPage .main .items {
    display: block;
  }
}
@media screen and (max-width: 380px) {
  .studentsPage .main .items .item .item-content p {
    font-size: 0.75rem;
  }
  .studentsPage .main .items .item .title .text-box h3 {
    font-size: 1rem;
  }
  .studentsPage .main .items .item .item-content .itemBtn div {
    font-size: 0.75rem;
  }
}

.locationPage .main {
  max-width: 90%;
  margin: auto;
}

.locationPage .main .items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.locationPage .main .items .item {
  position: relative;
  padding: 10px 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 11px;
}
.locationPage .main .items .item .homeIcon svg {
  width: 3.5rem;
}
.locationPage .main .items .item p {
  margin-left: 10px;
}
.locationPage .deleteBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  cursor: pointer;
}
.locationPage .deleteBtn svg {
  margin: auto;
  width: 1.5rem;
}

/******************
 STUDENT PAGE START
 ****************** */

/* Message page start */
.messagesPage .user-box {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.messagesPage .user-box img {
  width: 40px;
}
.messagesPage .user-box .user-box-inner {
  margin-left: 10px;
}
.messagesPage h4 {
  font-weight: 500;
}
.messagesPage h6 {
  color: #b5b5b5;
}
.back {
  background-color: #f9f5f1;
}
.messagesPage {
  display: flex;
  position: relative;
  min-height: 80vh;
}

.messagesPage .messages-sec .items {
  height: 75vh;
}

/* Message page end w*/

/* Homework page start */
.homeworkPage .user-box {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.homeworkPage .user-box img {
  width: 40px;
}
.homeworkPage .user-box .user-box-inner {
  margin-left: 10px;
}
.homeworkPage h4 {
  font-weight: 500;
}
.homeworkPage h6 {
  color: #b5b5b5;
}
.homeworkPage {
  display: flex;
  position: relative;
  min-height: 80vh;
}

.homeworkPage .items {
  height: 84vh;
}

.homework .homework-title {
  display: flex;
  justify-content: space-between;
}
.homework .homework-title button {
  background-color: #ee6c4d;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  margin: auto 0;
  padding: 7px 25px;
}
.homework .items .item {
  position: relative;
}

.group-sec .items .item {
  height: 130px;
  box-shadow: 0px 0px 1px 0px;
}
.homework .click-window {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .homework .w-screen {
    left: 0;
  }
}
/* Homework page end */

/* Homewwork and message page style start */

.group-cards {
  height: 100%;
  width: 40%;
  padding-top: 35px;
  background-color: #f5f7fb;
}
.group-cards h1 {
  font-weight: 600;
  font-size: 2.5rem;
}
.group-cards .items {
  margin-top: 10px;
  overflow-y: scroll;
  height: 85vh;
}

.group-cards .items::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  display: none;
}

.group-cards .items .item {
  position: relative;
  width: 90%;
  margin: 15px auto;
  background-color: #fff;
  padding: 20px;
  cursor: pointer;
  border-radius: 15px;
}
.group-cards .items .item .click-window {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: none;
}
.group-cards .items .item .click-window-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.group-cards .items .item h3 {
  font-weight: 500;
  font-size: 1.5rem;
}
.group-cards .items .item p {
  font-size: 0.85rem;
  margin: 5px 0;
}

.group-cards .items .item .item-box-3 {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  width: 1rem;
  height: 2.75rem;
  right: 0px;
  top: 20px;
  position: absolute;
  background-color: red;
}

.deskop-responsive {
  width: 60%;
  padding: 35px 20px;
  position: relative;
  min-height: 100%;
  min-height: 80vh;
}
.messages-cards {
}
.messages-cards h1 {
  font-weight: 500;
}
.messages-cards .items {
  margin-top: 20px;
  margin-top: 30px;
  overflow-y: scroll;
  /* height: 75vh; */
}
/* width */
.messages-cards .items::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
}

/* Track */
.messages-cards .items::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.messages-cards .items::-webkit-scrollbar-thumb {
  background: #ee6c5d;
}

/* Handle on hover */
.messages-cards .items::-webkit-scrollbar-thumb:hover {
  background: #c75b4f;
}
.messages-cards .items .item {
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  padding: 20px;
  margin: 10px 0;
}

.messages-cards .items .item p {
  font-size: 13px;
}
.messages-cards .items .item .item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messages-cards .user-box {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.messages-cards .user-box img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.messages-cards .user-box .user-box-inner {
  margin-left: 10px;
}
.messages-cards h4 {
  font-weight: 500;
}
.messages-cards h6,
.messages-cards h5 {
  color: #b5b5b5;
}

.messages-cards .items {
  height: 84vh;
}
.messages-cards .items .item {
  min-height: 50px;
  box-shadow: 0px 0px 3px 0px;
  margin: 8px;
}

.messages-cards .group-sec .items .item {
  height: 130px;
}

.messages-cards .items .item .item-title {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.messages-cards .items .item .item-title img {
  width: 30px;
}
.messages-cards .items .item .item-title h3 {
  font-weight: 500;
  margin-left: 11px;
}

.messages-cards .input-box {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  width: 95%;
}
.messages-cards .input-box span {
  display: flex;
  align-items: center;
}
.messages-cards .input-box input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 90%;
  height: 40px;
  font-size: 20px;
}
.messages-cards .input-box img {
  width: 30px;
  margin: auto 0;
  cursor: pointer;
}
@media screen and (max-width: 1050px) {
  .deskop-responsive {
    display: none;
    padding-bottom: 80px;
  }
  .messages-cards {
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .group-cards {
    width: 90%;
    margin: auto;
  }

  .group-cards .items .item .click-window {
    display: block;
  }
  .group-cards .items .item .click-window-2 {
    display: none;
  }
  .messages-cards .input-box {
    bottom: 0px;
  }
}
/* Homewwork and message page style end */

/* ***************
******************
Teacher Page start
******************
****************** */

/* RateHomeworkModal style start */
.RateHomeworkModal {
}
.RateHomeworkModal .modal-content .user-box {
  width: 250px;
  display: flex;
  margin-top: 0;
}

.RateHomeworkModal .modal-content .user-box img {
  width: 42px;
  height: 42px;
}
.RateHomeworkModal .modal-content .user-box .box {
  padding: 5px;
  font-size: 12px;
}
.RateHomeworkModal .modal-content .user-box .box p {
  color: rgb(153, 152, 152);
  font-size: 12px;
}

.RateHomeworkModal .modal-title {
}
.RateHomeworkModal .modal-title h1 {
  display: flex;
}
.RateHomeworkModal .modal-title h1 img {
  width: 40px;
  margin: auto 0;
  margin-top: 0;
  padding: 10px;
  padding-left: 0;
  padding-top: 0;
}
.RateHomeworkModal .modal-title h1 span {
  font-weight: 600;
  margin-left: 10px;
  font-size: 26px;
}

.RateHomeworkModal .modal-content {
}

.RateHomeworkModal .modal-content .teacher-box {
  margin: 10px 0;
}
.RateHomeworkModal .modal-content .comment-box {
  line-height: 20px;
  font-size: 13px;
}

.RateHomeworkModal .modal-content .schedule-box {
  margin-top: 10px;
}
.RateHomeworkModal .modal-content .schedule-box .flex {
  justify-content: flex-start;
}
.RateHomeworkModal .modal-content .schedule-box .box {
  display: flex;
  padding: 5px 0px;
  padding-right: 35px;
  align-items: center;
}
.RateHomeworkModal .modal-content .schedule-box .box img {
  width: 20px;
  padding: 5px;
  padding-left: 0;
}
.RateHomeworkModal .modal-content .schedule-box .box h4 {
  font-size: 14px;
  margin-left: 7px;
}

.RateHomeworkModal .modal-content .student-box {
  border: 1px solid #000;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  position: relative;
}
.RateHomeworkModal .modal-content .student-box .items {
  height: 295px;
  overflow-y: scroll;
  padding: 0px;
  margin: 0;
  margin-top: 25px;
}

/* width */
.RateHomeworkModal .modal-content .student-box .items::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.RateHomeworkModal .modal-content .student-box .items::-webkit-scrollbar-track {
  background: #f1f1f100;
  margin-top: 10px;
}

/* Handle */
.RateHomeworkModal .modal-content .student-box .items::-webkit-scrollbar-thumb {
  background: #ee6c5d;
  border-radius: 10px;
}

/* Handle on hover */
.RateHomeworkModal
  .modal-content
  .student-box
  .items::-webkit-scrollbar-thumb:hover {
  background: #c75b4f;
}

.RateHomeworkModal .modal-content .student-box .items .item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 2px;
  align-items: center;
}
.RateHomeworkModal .modal-content .student-box .item img {
  margin: auto 0;
}
.RateHomeworkModal .modal-content .student-box .star-img {
  width: 100px;
  cursor: pointer;
}
.RateHomeworkModal .modal-content .student-box input {
  width: 20px;
  cursor: pointer;
}
.RateHomeworkModal .success-img {
  width: 30px;
  cursor: pointer;
}
.RateHomeworkModal .exclamation-img {
  cursor: pointer;
  width: 30px;
}
.RateHomeworkModal .rate-images {
  position: absolute;
  right: 15px;
  top: 0px;
  z-index: 99999 !important;
}
.RateHomeworkModal .rate-images img {
  margin: 0px 12px;
}
.RateHomeworkModal .rating i {
  color: #ee6c4d;
  font-size: 18px;
  margin: 3px;
  cursor: pointer;
}
.RateHomeworkModal .modal-content button {
  background-color: #ee6c4d;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  margin: auto 0;
  padding: 10px 45px;
  float: right;
}

@media screen and (max-width: 550px) {
  .RateHomeworkModal {
    top: 1.625rem;
  }
  .RateHomeworkModal .closeModal {
    right: 31px;
    top: 17px;
  }
  .RateHomeworkModal .modal-title h1 span {
    font-size: 20px;
    line-height: 2.25rem;
  }
  .RateHomeworkModal .modal-title h1 img {
    width: 25px;
    padding: 0;
  }
  .RateHomeworkModal .modal-content .comment-box {
    font-size: 13px;
  }
  .RateHomeworkModal .modal-content .schedule-box .box h4 {
    font-size: 12px;
  }
  .RateHomeworkModal .modal-content .schedule-box .box img {
    width: 20px;
  }
}
/* RateHomeworkModal style end */

/* schedule info modal style start */
.scheduleInfoModal {
  background-color: #e56f53;
  color: white;
  top: 7.625rem;
}

.scheduleInfoModal .closeModal {
  position: absolute;
  right: 35px;
  top: 30px;
}

.scheduleInfoModal .modal-content .user-box {
  width: 250px;
  display: flex;
  margin-top: 0;
}

.scheduleInfoModal .modal-content .user-box img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
}
.scheduleInfoModal .modal-content .user-box .box {
  padding: 5px;
  font-size: 12px;
  margin-left: 7px;
}
.scheduleInfoModal .modal-content .user-box .box p {
  color: rgb(227 227 227);
  font-size: 12px;
}

.scheduleInfoModal .modal-title {
}
.scheduleInfoModal .modal-title h1 {
  display: flex;
}
.scheduleInfoModal .modal-title h1 img {
  width: 40px;
  margin: auto 0;
  margin-top: 0;
  padding: 10px;
  padding-left: 0;
  padding-top: 0;
}
.scheduleInfoModal .modal-title h1 span {
  font-weight: 600;
  margin-left: 10px;
  font-size: 32px;
}

.scheduleInfoModal .modal-content {
}

.scheduleInfoModal .modal-content .teacher-box {
  margin: 18px 0;
}
.scheduleInfoModal .modal-content .comment-box {
  line-height: 24px;
  font-size: 17px;
}

.scheduleInfoModal .modal-content .schedule-box {
  margin-top: 10px;
}
.scheduleInfoModal .modal-content .schedule-box .flex {
  justify-content: flex-start;
}
.scheduleInfoModal .modal-content .schedule-box .box {
  display: flex;
  padding: 5px 0px;
  padding-right: 35px;
  align-items: center;
}
.scheduleInfoModal .modal-content .schedule-box .box img {
  width: 22px;
  padding: 5px;
  padding-left: 0;
}
.scheduleInfoModal .modal-content .schedule-box .box h4 {
  font-size: 17px;
  margin-left: 7px;
}

@media screen and (max-width: 550px) {
  .scheduleInfoModal {
    height: 100%;
    width: 100%;
    top: 10rem;
    z-index: 999999;
    padding-top: 80px;
  }
  .scheduleInfoModal .closeModal {
    right: 59px;
    top: 50px;
  }
}

/* schedule info modal style end */
